<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Home-BloodLink {% endblock %}</title>
  </head>
  <link rel="stylesheet" href="../static/styles/base.css" />
  <nav class="navbar">
    <div class="container">
      <a href="#" id="nav-brand" class="logo">🩸BloodLink</a>
      <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('donate') }}">Donate Blood</a></li>
        <li><a href="{{ url_for('find_donor') }}">Find Donor</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">More</a>
          <div class="dropdown-content">
            <a href="#">Inventory</a>
            <a href="#">Appointments</a>
          </div>
        </li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
  <body>
    
    {% block content %} {% endblock %}
    
  </body>
</html>
