{% extends "base.html" %}

{% block title %}
    Donate Blood
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/styles/donor.css">
{% endblock %}


{% block content %}
    <h1 class="bloodBank-title">List of Blood Banks</h1>
    <h2 class="bloodBank-title">Please select your nearest Blood Bank to donate Blood</h2>
    <table id="bloodBankTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Contact Number</th>
            </tr>
        </thead>
        <tbody>
            {% for bank in bloodbank %}
            <tr onclick="window.location.href='/book_appointment/{{ bank.BloodBankID }}'">
                <td>{{ bank.Name }}</td>
                <td>{{ bank.Location }}</td>
                <td>{{ bank.ContactNumber }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <h2>Why Donate Blood? <i class="fa-solid fa-droplet"></i></h2> 
        <p>Blood donation saves lives. It supports medical treatments, including surgeries and emergency care
          <br> 
          Donors contribute to community health and solidarity, 
          making a direct impact on the well-being of others.</p>
    </div>
{% endblock %}
