{% extends "base.html" %}

{% block title %}
    Find Donors
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/styles/donor.css">
{% endblock %}

{% block content %}
    <h1 id="donor-title" style="color: white;">List of Donors</h1>
    <h2 style="color: white; margin-left: 35rem;" >Please find your nearest Donors</h2>
    <table id="donor-table">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Blood Group</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for donor in Donors %}
            <tr>
                <td>{{ donor.DonorID}}</td>
                <td>{{ donor.BloodGroup }}</td>
                <td>{{ donor.Address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="connectwDon">
       <h2 id="conh"> > Need Blood? Connect with a Donor</h2>
       <button id="conbtn" onclick="window.location.href='/con_donor'"><a href="#" id="conref"> Contact a Donor</a></button>
    </div>
{% endblock %}
