{% extends "base.html" %}

{% block title %}
    Home-BloodLink
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="../static/styles/home.css">
  <link rel="stylesheet" href="../static/styles/footer.css">
{% endblock %}

{% block content %}

<div id="home-text">
    <h1 style="color: beige;">Discover <span style="color: red">BloodLink!</span></h1>
    <h2 style="color: white;">
      Your Gateway to Life-Saving Connections. <br />
      Join us as we unite donors and recipients, <br />
      transforming compassion into life-saving acts: <br />
      <span style="color: red">ONE DROP AT A TIME. <i class="fa-solid fa-droplet"></i></span>
    </h2>
  </div>
  <div id="home-img-container">
    <img id="home-img" src="../static/images/image.png" alt="home-img" />
  </div>

  <div class="down1">
    <img  id="anotherimg"  src="../static/images/pres.webp" alt="" srcset="">
    <div class="card-container">
      <div class="profile-container">
        <div class="profile-card">
          <div class="profile-title">
            <h1 style="">Donate Blood</h1>
            <h2>Find Blood Banks Near You</h2>
          </div>
          <div class="profile-content">
            <div class="profile-social">
              <a href="{{ url_for('donate') }}" style="text-decoration: underline;">
                Book an Appointment</a>
            </div>
            <div class="profile-social">
              <a href="{{ url_for('donate') }}" >
                at your nearest blood bank</a>
            </div>
            <div class="profile-social">
              <a href="{{ url_for('donate') }}">
                and donate blood at your convenience</a>
            </div>
          </div>
          <div class="profile-circle"></div>
        </div>
      </div>
      <div class="profile-container">
        <div class="profile-card">
          <div class="profile-title">
            <h1>Recieve Blood</h1>
            <h2>"Frontend Developer"</h2>
          </div>
          <div class="profile-content">
            <div class="profile-social">
              <a href="https://codepen.io/umurkose/" target="_blank">
                codepen.io/username</a>
            </div>
            <div class="profile-social">
              <a href="https://www.linkedin.com/in/bada55-umurkose" target="_blank">
                linkedin.com/in/username</a>
            </div>
            <div class="profile-social">
              <a href="https://umurkose.com" target="_blank">
                domain.com</a>
            </div>
          </div>
          <div class="profile-circle"></div>
        </div>
      </div>
      <div class="profile-container">
        <div class="profile-card">
          <div class="profile-title">
            <h1>Attend Events</h1>
            <h2>"Frontend Developer"</h2>
          </div>
          <div class="profile-content">
            <div class="profile-social">
              <a href="https://codepen.io/umurkose/" target="_blank">
                codepen.io/username</a>
            </div>
            <div class="profile-social">
              <a href="https://www.linkedin.com/in/bada55-umurkose" target="_blank">
                linkedin.com/in/username</a>
            </div>
            <div class="profile-social">
              <a href="https://umurkose.com" target="_blank">
                domain.com</a>
            </div>
          </div>
          <div class="profile-circle"></div>
        </div>
      </div>
    </div>

  </div>


  <!-- ! FOOTER -->
  <footer class="footer">
    <div class="foot-container">
     <div class="row-foot">
       <div class="footer-col">
         <h4>Made By</h4>
         <ul>
           <li><a href="https://leetcode.com/Nxmish_16/">Nimish Kumar</a></li>
           <li><a href="https://www.linkedin.com/in/archishman-mittal-385b34270/">Archishman Mittal</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Get Help</h4>
         <ul>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">Donations</a></li>
           <li><a href="#">Recipients</a></li>
           <li><a href="#">How do we verify?</a></li>
           <li><a href="#">Payment Options</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Features</h4>
         <ul>
           <li><a href="#">Donate Blood</a></li>
           <li><a href="#">Find Blood Banks</a></li>
           <li><a href="#">Find Donors</a></li>
           <li><a href="#">Get Blood for yourself</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Connect with Me</h4>
         <div class="social-links">
           <a href="https://github.com/NimishKr16" target="_blank"><i class="fa-brands fa-github"></i></a>
           <a href="https://twitter.com/nxmish_16" target="_blank"><i class="fab fa-twitter"></i></a>
           <a href="https://www.instagram.com/nxmish.16/" target="_blank"><i class="fab fa-instagram"></i></a>
           <a href="https://www.linkedin.com/in/nimish-kumar16/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>
  <!-- ! End footer -->

 
  
{% endblock %}
