{% extends "base.html" %}

{% block title %}
    Home-BloodLink
{% endblock %}

{% block content %}
<div id="home-text">
    <h1>Discover <span style="color: red">BloodLink!</span></h1>
    <h2>
      Your Gateway to Life-Saving Connections. <br />
      Join us as we unite donors and recipients, <br />
      transforming compassion into life-saving acts: <br />
      <span style="color: red">ONE DROP AT A TIME.🩸</span>
    </h2>
  </div>
  <div id="home-img-container">
    <img id="home-img" src="../static/images/image.png" alt="home-img" />
  </div>
  
{% endblock %}
