{% extends "base.html" %}

{% block title %}
    Home-BloodLink
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="../static/styles/home.css">
  <link rel="stylesheet" href="../static/styles/footer.css">
{% endblock %}

{% block content %}

<div id="home-text">
    <h1 style="color: beige;">Discover <span style="color: red">BloodLink!</span></h1>
    <h2 style="color: white;">
      Your Gateway to Life-Saving Connections. <br />
      Join us as we unite donors and recipients, <br />
      transforming compassion into life-saving acts: <br />
      <span style="color: red">ONE DROP AT A TIME. <i class="fa-solid fa-droplet"></i></span>
    </h2>
    <a href="#sec1" id="get-started-href"><button id="get-started">Get Started!</button></a>
  </div>
  <div id="home-img-container">
    <img id="home-img" src="../static/images/image.png" alt="home-img" />
  </div>

  <!-- ! MAIN SECTION -->
  <div class="down1">
    <img  id="anotherimg"  src="../static/images/pres.webp" alt="" srcset="">
    <section id="sec1">
    <div class="card-container">
      <div class="profile-container">
        <div class="profile-card1">
          <div class="profile-title">
            <h1>Donate Blood</h1>
            <h2>Find Blood Banks Near You</h2>
          </div>
            <div class="profile-content">
              <div class="profile-social">
                <a href="{{ url_for('donate') }}" style="text-decoration: underline;">
                  Book an Appointment</a>
              </div>
              <div class="profile-social">
                <a href="{{ url_for('donate') }}" >
                  at your nearest blood bank</a>
              </div>
              <div class="profile-social">
                <a href="{{ url_for('donate') }}">
                  and donate blood at your convenience</a>
              </div>
            </div>
            <div class="profile-circle"></div>
          </div>
        </div>
        <div class="profile-container">
          <div class="profile-card2">
            <div class="profile-title">
              <h1>Recieve Blood</h1>
              <h2>Get Blood For Yourself</h2>
            </div>
            <div class="profile-content">
              <div class="profile-social">
                <a href="{{ url_for('find_donor') }}" >
                  All Blood Groups Available</a>
              </div>
              <div class="profile-social">
                <a href="{{ url_for('find_donor') }}">
                  Connect with donors today!</a>
              </div>
              <div class="profile-social">
                <a href="{{ url_for('find_donor') }}">
                  And stay healthy!</a>
              </div>
            </div>
            <div class="profile-circle"></div>
          </div>
        </div>
        <div class="profile-container">
          <div class="profile-card3">
            <div class="profile-title">
              <h1>Attend Events</h1>
              <h2>Find Blood Camps & Events Near You!</h2>
            </div>
            <div class="profile-content">
              <div class="profile-social">
                <a href="https://codepen.io/umurkose/">
                  Attend events across the country</a>
              </div>
              <div class="profile-social">
                <a href="https://www.linkedin.com/in/bada55-umurkose">
                  Donate & recieve blood instantly</a>
              </div>
              <div class="profile-social">
                <a href="https://umurkose.com">
                  Enjoy high-end facilities!</a>
              </div>
            </div>
            <div class="profile-circle"></div>
          </div>
        </div>
      </div>
  
    </div>
    
  </section>
  <section id="sec2">
    <div class="book-an-appointment">
      <h2>
        > Schedule An Appointment Now!
      </h2>
      <button id="app-book" onclick="location.href='/findDonors'">Book an Appointment</button>
    </div>
 
  </section>
 


  <!-- ! FOOTER -->
  <footer class="footer">
    <div class="foot-container">
     <div class="row-foot">
       <div class="footer-col">
         <h4>Made By</h4>
         <ul>
           <li><a href="https://leetcode.com/Nxmish_16/">Nimish Kumar</a></li>
           <li><a href="https://www.linkedin.com/in/archishman-mittal-385b34270/">Archishman Mittal</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Get Help</h4>
         <ul>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">Donations</a></li>
           <li><a href="#">Recipients</a></li>
           <li><a href="#">How do we verify?</a></li>
           <li><a href="#">Payment Options</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Features</h4>
         <ul>
           <li><a href="#">Donate Blood</a></li>
           <li><a href="#">Find Blood Banks</a></li>
           <li><a href="#">Find Donors</a></li>
           <li><a href="#">Get Blood for yourself</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Connect with Me</h4>
         <div class="social-links">
           <a href="https://github.com/NimishKr16" target="_blank"><i class="fa-brands fa-github"></i></a>
           <a href="https://twitter.com/nxmish_16" target="_blank"><i class="fab fa-twitter"></i></a>
           <a href="https://www.instagram.com/nxmish.16/" target="_blank"><i class="fab fa-instagram"></i></a>
           <a href="https://www.linkedin.com/in/nimish-kumar16/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>
  <!-- ! End footer -->

 
  
{% endblock %}
