{% extends "base.html" %}

{% block title %}
    Inventory
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../static/styles/invent.css">
{% endblock %}

{% block content %}

<h2>Blood Bank Inventory</h2>

<table id="invent-table">
  <thead>
    <tr class="in-tr">
      <th class="in-th">Blood Bank</th>
      <th class="in-th">Location</th>
      <th class="in-th">Blood Group</th>
      <th class="in-th">Quantity (mL)</th>
    </tr>
  </thead>
  <tbody>
    {% for bank, total_inventory in inventory_with_totals %}
    {% for blood_type, total_quantity in total_inventory %}
    <tr class="in-tr">
        <td class="in-td">{{ bank.Name }}</td>
        <td class="in-td">{{ bank.Location }}</td>
        <td class="in-td">{{ blood_type }}</td>
        <td class="in-td">{{ total_quantity }}</td>
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>

{% endblock %}