{% extends "base.html" %}

{% block title %}
    Donate Blood
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="../static/styles/postform.css">
{% endblock %}


{% block content %}


<div class="container-post">
    <h1 id="post-form">Action Completed Successfully!</h1>
    <p id="para-post">Your request has been successfully processed.</p>
    <button class="btn-post"> <a href="{{ url_for('home')}}" style="text-decoration: none;">Return Home</a></button>
</div>

  
{% endblock %}
