#appoint-table{
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 20rem;
}


th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: rgb(51, 49, 49);
    
}
th {
    background-color: #f2f2f2;
}


td{
    color: white;
}

td:hover{
    color: red;
}